<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="crumbs">لوحة التحكم <span>›</span> تعديل وحدة </div>
    </div>

    <h3 class="text-center mt-5">تعديل وحدة </h3>
    <form [formGroup]="editForm" (ngSubmit)="submit()">
        <div class="row p-3 ">

            <div class="col-6">
                <div class="mb-3">
                    <label for="arTitle" class="form-label">اسم الوحدة <span>*</span></label>
                    <input type="text" class="form-control" id="arTitle" formControlName="arTitle"
                        [class.invalid]="(submitted && editForm.get('arTitle')?.invalid) && editForm.get('arTitle')?.touched">
                    @if(editForm.get('arTitle')?.errors?.['pattern']){

                    <div class="error">لغة الادخال الصحيحة هي العربية</div>
                    }
                </div>
            </div>
            
            <!-- ==================  عدد الغرف ================= -->
            <div class="col-6">
                <div class="mb-3">
                    <label for="arTitle" class="form-label">عدد الغرف <span>*</span></label>
                    <input type="number" class="form-control" id="enTitle" formControlName="enTitle"
                        [class.invalid]="(submitted && editForm.get('enTitle')?.invalid)">
                </div>
            </div>

            <!-- ==================  سعر الوحدة ================= -->

            <div class="col-6">
                <div class="mb-3">
                    <label for="price" class="form-label">سعر الوحدة<span>*</span></label>
                    <input type="text" class="form-control " id="price" formControlName="price"
                        [class.invalid]="(submitted && editForm.get('price')?.invalid) && editForm.get('price')?.touched">
                    @if(editForm.get('price')?.errors?.['pattern']){

                    <div class="error">لغة الادخال الصحيحة هي الانجليزية</div>
                    }
                </div>
            </div>

            <!-- ==================== الوصف ================== -->


            <!-- ==================== النوع ================== -->

            <div class="col-6">
                <div class="mb-3">
                    <label for="arDescription" class="form-label">نوع الوحدة بالعربي<span>*</span></label>
                    <select name="" id="" [class.invalid]="(submitted && editForm.get('arDescription')?.invalid)"
                        class="form-select" formControlName="arDescription">
                        <option [ngValue]="null" disabled>اختر</option>
                        <option value="شقة">شقة</option>
                        <option value="ملحق">ملحق</option>
                    </select>

                </div>
            </div>


            <!-- ==================  مساحة الوحدة ================= -->

            <div class="col-6">
                <div class="mb-3">
                    <label for="area" class="form-label">مساحة الوحدة<span>*</span></label>
                    <input type="text" class="form-control " id="area" formControlName="area"
                        [class.invalid]="(submitted && editForm.get('area')?.invalid) && editForm.get('area')?.touched">
                    @if(editForm.get('area')?.errors?.['pattern']){

                    <div class="error">لغة الادخال الصحيحة هي الانجليزية</div>
                    }
                </div>
            </div>

            <!-- ==================  طابق الوحدة ================= -->

            <div class="col-6">
                <div class="mb-3">
                    <label for="floor" class="form-label">الطابق<span>*</span></label>
                    <input type="number" class="form-control " id="floor" formControlName="floor"
                        [class.invalid]="(submitted && editForm.get('floor')?.invalid) && editForm.get('floor')?.touched">
                    @if(editForm.get('floor')?.errors?.['pattern']){
                    <div class="error">لغة الادخال الصحيحة هي الانجليزية</div>
                    }
                </div>
            </div>

            <!-- ==================  صورة الوحدة ================= -->

            <div class="col-6">
                <div class="mb-3">
                    <label for="imageFiles" class="form-label">صورة للشقة <span>*</span></label>
                    <input type="file" class="form-control " id="imageFiles"
                        [class.invalid]="(submitted && editForm.get('imageFiles')?.invalid)" accept="image/*"
                        (change)="onImagesSelected($event)" formControlName="imageFiles">
                </div>
            </div>


            <!-- ==================  صورة الوحدة ================= -->

            <div class="col-6">
                <label for="" class="form-label">حالة الشقة <span>*</span></label>
                <div class="sold-check">
                    <label class="check-wrap">
                        <input type="checkbox" formControlName="isSealed">
                        <span class="check-box"></span>
                        <span class="check-label">الشقة مباعة</span>
                    </label>

                    <span class="status" [class.sold]="editForm.get('isSealed')?.value"
                        [class.available]="!editForm.get('isSealed')?.value">
                        {{ editForm.get('isSealed')?.value ? 'مباعة' : 'غير مباعة' }}
                    </span>
                </div>
            </div>

        </div>

        <button class="main_button ">ارسال</button>

    </form>
</div>