
.status{
    margin-top: 80px;
}
.statu{
    background:#fff;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #f2f2f2;
}
.text span{
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    color: var(--primary);
}
.text h3{
    margin: 0;
    font-size: 22px;
}

.status button{
    padding: 8px 10px;
}

.delete_btn {
    border-color: red;
    color: red;
    margin: 0 8px;
}

.delete_btn:hover {
    background: red;
    border-color: red;
    color: #fff;
}